<%- layout('layout.ejs') -%>

<h1>Shop Smart Save Big</h1>
<p>Starting point to create something unique</p>
<p> Sign Up to start Buying</p>
<h3>Start your search here</h3>
<p> Our prices are best on the web</p> 